.landingPageContainer {
  .welcomeContainer {
    background: rgb(18, 89, 143);
    color: $light;
    padding: 10% 10% 0px;
    font-weight: bold;
  }
  .myCoursesContainer {
    padding: 0 50px;
    background: $background;
    height: auto;
    h5 {
      font-weight: bold;
      color: $dark;
    }
    .nav-item {
      margin: 0px 20% 0px 10px;
      color: $dark;
      .nav-link {
        display: flex;
        align-items: center;
        &.activepageTab {
          cursor: pointer;
          padding-left: 25px;
          padding-right: 25px;
          border-bottom: 4px solid $secondary;
          display: inline-flex;
          transition: 0.3s ease-in;
          text-transform: uppercase;
        }
        &.notactivepageTab {
          transition: 0.3s ease-in;
          text-transform: uppercase;
          padding-left: 25px;
          padding-right: 25px;
        }
        &.notactivepageTab:hover {
          cursor: pointer;
          border-bottom: 4px solid $secondary;

          transition: 0.18s ease-in;
        }
      }
    }
  }
}

.coursesCardContainer {
  margin-bottom: 10px;
  box-shadow: 0px 4px 4px darken($color: #d4d4d4, $amount: 5);
  .coursesCard {
    border-top: 20px solid $secondary;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 4px darken($color: #d4d4d4, $amount: 5);

    header {
      font-size: 20px;
      font-weight: bolder;
      color: $secondary;
      margin-bottom: 20px;
    }
    tag {
      border: 1px solid $secondary;
      padding: 4px 30px;
      font-size: 11px;
      border-radius: 40px;
      font-weight: bolder;
      color: $secondary;
    }
  }
  .courseFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h6 {
      font-weight: bolder;
      color: #929292;
    }
  }
}

.popularCoursesContainer {
  padding: 0 50px;
  .header {
    background: $background;
    text-transform: none;
    h5 {
      font-weight: bold;
    }
  }
  .popularCoursesBody {
    margin: 0 auto;
    width: 90%;
    padding: 30px;
    border: none;

    .courseTwoCard {
      // box-shadow: 4px 4px 4px darken($color: #d4d4d4, $amount: 5);
      margin-bottom: 40px;

      img {
        height: 250px;
        object-fit: cover;
        border: none;
        transition: 0.5s;
      }
      .imageOverlay {
        display: flex;
        transition: 0.5s;
        border: none;
        display: flex;
        flex-direction: column;

        .title {
          font-size: 0.01px;
          color: $light;
          transition: 0.5s;
          font-weight: bold;
        }
        .courseBy {
          font-size: 0.01px;
          color: $light;
          transition: 0.5s;
          font-weight: bold;
        }
        .teacher {
          font-size: 0.01px;
          color: $light;
          transition: 0.5s;
          font-weight: bold;
        }
      }
    }
    .courseTwoCard:hover {
      border: none;
      img {
        height: 250px;
        object-fit: cover;
        border: none;
      }
      .imageOverlay:hover {
        display: flex;
        background-color: $secondary;
        opacity: 0.9;
        transition: 0.5s;
        .title {
          font-size: 30px;
          color: $light;
          transition: 0.3s;
          font-weight: bold;
        }
        .courseBy {
          font-size: 10px;
          color: $light;
          transition: 0.5s;
          font-weight: bold;
          margin-top: 40px;
        }
        .teacher {
          font-size: 10px;
          color: $light;
          transition: 0.5s;
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
  }
}

.popularCategoriesContainer {
  padding: 0 50px;
  .header {
    background: $background;
  }
  .popularCategoriesBody {
    margin: 0 auto;
    width: 95%;
  }
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $light;
    border: none;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px darken($color: #d4d4d4, $amount: 5);
    transition: 0.5s;
    .header {
      background: $light;
      border: none;
      padding: 30px 20px;
    }
  }
  .categories:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $light;
    margin-bottom: 30px;
    box-shadow: 5px 10px 10px darken($color: #d4d4d4, $amount: 5);
    .header {
      background: $light;
      padding: 30px 20px;
    }
  }
}
